<!-- This code displays the Passenger information page -->
<section class="joinnow">
  <div class="login col-lg-4 m-auto shadow-lg">
    <h2>Journey Ticket Details</h2>
    <form>
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input type="name" class="form-control" id="nameInput name" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Phone number</label>
        <input
          type="Phone number"
          class="form-control"
          id="phonenumberInput Phone number"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">From</label>
        <input type="name" class="form-control" id="exampleInput name" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">To</label>
        <input type="name" class="form-control" id="exampleInput name" />
      </div>
      <div class="form-group">
        <h3><label for="exampleInputPassword1">No of Passengers</label></h3>
        <input type="name" class="form-control" id="nameInput name" />
      </div>
      <div class="form-group">
        <h3><label for="exampleInputPassword1">Date of Journey</label></h3>
        <input type="name" class="form-control" id="nameInput name" />
      </div>
      <div class="form-group">
        <h3><label for="exampleInputPassword1">Date of Departure</label></h3>
        <input type="name" class="form-control" id="nameInput name" />
      </div>
      <br />
      <a
        type="submit"
        class="btn btn-primary col-lg-12"
        (click)="alertConfirmation()"
      >
        Cancel Ticket
      </a>
      <br />
      <br />
    </form>
  </div>
</section>
