<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
      <h1>PACK YOUR BAGS</h1>
    <div class="title">Login</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">E-mail id</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <br>
          <br>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your username" required>
          </div>
        
          
        </div>
        
        <div class="button">
          <input type="submit" value="LOGIN">
        </div>
      </form>
    </div>
  </div>

</body>
</html>