<section class="joinnow">
  <div class="login col-lg-4 m-auto shadow-lg">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          (keyup)="onkey($event, 'email')"
        />
        <p *ngIf="!valid.email" class="text-red-200 text-xs italic">
          Invalid Email
        </p>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">New Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <br />
      <a
        type="submit"
        class="btn btn-primary col-lg-12"
        (click)="successNotification()"
        routerLink="/login"
      >
        Reset Password
      </a>
    </form>
  </div>
</section>
