<section class="joinnow">
  <div class="login col-lg-4 m-auto shadow-lg">
    <h2>BOOK HERE</h2>
    <form>
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input
          type="email id"
          class="form-control"
          id="exampleInput email id"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Phone number</label>
        <input
          type="Phone number"
          class="form-control"
          id="exampleInput Phone number"
        />
      </div>
      <div class="form-group">
        <label for="from">From</label>
        <br />
        <select name="from" id="from">
          <option value="Hyderabd">Hyderabad</option>
          <option value="Warangal">Warangal</option>
          <option value="Karimnagar">Karimnagar</option>
          <option value="Khamam">Khamam</option>
        </select>
        <!-- <input type="name" class="form-control" id="exampleInput name" /> -->
      </div>
      <div class="form-group">
        <label for="to">To</label>
        <br />
        <select name="to" id="to">
          <option value="Hyderabd">Hyderabad</option>
          <option value="Warangal">Warangal</option>
          <option value="Karimnagar">Karimnagar</option>
          <option value="Khamam">Khamam</option>
        </select>
      </div>
      <div class="form-group">
        <h3><label for="exampleInputPassword1">No of Passengers</label></h3>
        <input type="number" placeholder="number of people" />
      </div>
      <div class="form-group">
        <h3><label for="exampleInputPassword1">Date of Journey</label></h3>
        <input type="date" />
      </div>
      <div class="form-group">
        <h3><label for="exampleInputPassword1">Date of Departure</label></h3>
        <input type="date" />
      </div>
      <br />
      <button
        type="submit"
        class="btn btn-primary col-lg-12"
        routerLink="/passenger-info"
      >
        Book Ticket
      </button>
      <br />
      <br />
    </form>
  </div>
</section>
